.doge-sidebar {
  &_outside {
    position: bottom;
    padding: var(--space-sm) var(--space-sm) 0;
    z-index: 100;
  }
  &_wrapper {
    position: relative;
    padding: var(--space-sm) var(--space-sm) 0;
    z-index: 100;
  }
  &_inner {
    position: relative;
    width: var(--sidebar);
    background-color: var(--white);
    border-radius: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-md) var(--space-sm) var(--space-sm);
    filter: var(--black-shadow);
  }
  &_bidList {
    position: fixed;
    z-index: 100;
    width: var(--sidebar);
    background-color: var(--white);
    border-radius: var(--space-md);
    animation: fadeIn 750ms var(--ease) 450ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-md) var(--space-sm) var(--space-sm);
    filter: var(--black-shadow);
    bottom: var(--space-);
    right: var(--space-md);
    animation-fill-mode: both;
    margin-right: 0;
    padding: 0;
  }
  &_title {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    h1 {
      transform: rotate(-1deg);
    }
  }
  &_ui {
    position: relative;
    padding: var(--space-sm) 0;
    display: grid;
    grid-row-gap: var(--space-sm);
  }
  &_history-button {
    width: 100%;
    transition: transform 250ms var(--boing);
    will-change: transform;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    z-index: 1;
  }
  &_button-odd {
    transform: rotate(2deg) scale(0.95);
  }
  &_button-even {
    transform: rotate(-2deg) scale(0.95);
  }
  &_intro {
    font-size: 2.25rem;
    padding: 1.5rem 0 0;
    color: white;
    max-width: 46rem;
    margin: 0 auto;
    line-height: 1.25;
    padding-bottom: 1rem;
  }
  &_divider {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &_input-wrapper {
    font-size: 2rem;
    white-space: nowrap;
    width: 75%;
    display: inherit;
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
  }
  &_input {
    font-size: inherit;
    width: inherit;
    border-radius: 1rem;
    max-width: 25%;
    text-align: center;
  }
  &_token-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  &_wallet-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &_mint-button {
    background-color: var(--white);
    transform: none;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: auto;
  }
}

@media(--sm) {
  .doge-sidebar {
    &_wrapper {
      padding: var(--space-lg) var(--space-lg) 0;
    }

&_bidHistory {
  position: relative;
  bottom: var(--space-lg);
  right: var(--space-md);
  animation: fadeInRight 750ms var(--ease) 450ms;
  animation-fill-mode: both;
  border-radius: var(--space-md);
  margin-bottom: var(--space-lg);
}
}}

@media (--md) {
  .doge-sidebar {
    &_wrapper {
      padding: var(--space-lg) calc(var(--space-lg) * 2) 0;
    }
    &_bidHistory {
  position: relative;
  bottom: var(--space-lg);
  right: var(--space-md);
  animation: fadeInRight 750ms var(--ease) 450ms;
  animation-fill-mode: both;
  border-radius: (--space-md);
  margin-bottom: var(--space-lg);
}
  }
  
}

@media(--lg) {
  .doge-sidebar {
    &_title {
      h1 {
        font-size: 3rem;
      }
    }
    &_intro {
      font-size: 1.55rem;
      padding-bottom: 0;
    }
    &_wrapper {
      position: fixed;
      top: var(--space-md);
      right: var(--space-md);
      animation: fadeInRight 750ms var(--ease) 450ms;
      animation-fill-mode: both;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: var(--space-md);
      padding: 0;
    }
    &_bidHistory {
      position: fixed;
      bottom: var(--space-md);
      right: var(--space-md);
      animation: fadeInRight 750ms var(--ease) 450ms;
      animation-fill-mode: both;
      margin-bottom: var(--space-lg);
      margin-left: 0;
      margin-top: 0;
      overflow: scroll;
      grid-row-gap: var(--space-sm);
    }
    &_proofOfAuthenticity {
      position: fixed;
      bottom: var(--space-lg);
      right: var(--space-md);
      animation: fadeInRight 750ms var(--ease) 450ms;
      animation-fill-mode: both;
      margin-bottom: var(--space-lg);
    }
    &_bidder{
      position: fixed;
      width: 100%;
      top: var(--space-md);
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: fadeInRight 750ms var(--ease) 450ms;
      padding-top: var(--space-lg);
      margin: 0 auto var(--space-lg);
   
    }
    &_bidder_wrapper{
      width: 100%;
      max-width: 960px;
      background: var(--warm-gradient);
      padding: var(--space-md);
      border-radius: var(--space-md);
      box-shadow: var(--dark-shadow);
    }

    &_title {
      padding-top: 1rem;
    }
    &_inner {
      position: relative;
      filter: var(--black-shadow);
    }
  }
}

@media(--xl) {
  .doge-sidebar {
    &_inner {
      padding: var(--space-md) var(--space-sm) var(--space-sm);
    }
    &_intro {
      font-size: 1.75rem;
      padding-bottom: .5rem;
    }
    &_title {
      h1 {
        font-size: 5.5rem;
      }
    }
  } 
}

@media(--hover) {
  .doge-sidebar {
    &_history-button:hover {
      transform: rotate(-2deg) scale(1);
      background: var(--blue);
      color: var(--white);
    }
    &_mint-button:hover {
      transform: none;
    }
    &_button-disabled:hover {
      transform: rotate(0deg) scale(0.8);
      background: var(--white);
      cursor: auto;
      background: var(--light-grey);
      color: var(--dark-grey);
    }
  }
}

/* TITLE COLORING */
.doge-title {
  &_letter {
    position: relative;
    &:nth-of-type(1n) {
      color: black;
    }
    &:nth-of-type(2n) {
      color: black;
    }
    &:nth-of-type(3n) {
      color: black;
    }
    &:nth-of-type(4n) {
      color: black;
    }
    &:nth-of-type(5n) {
      color: black;
    }
  }
}