* {
    box-sizing: border-box;
  }

.front-page_wrapper {
  width: 95.5vw;
  height: 95.5vh;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .front-page_wrapper {
    margin-top: -60px
  }
}
      
body {
  background: #f0f0f0;
}

